<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50651516076-omejmotlq2bunhs068eufj4n4ksv4g2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50651516076-omejmotlq2bunhs068eufj4n4ksv4g2u</string>
	<key>API_KEY</key>
	<string>AIzaSyDiwYBazB7tlSyxel_NgYLzTAPk8AplFiU</string>
	<key>GCM_SENDER_ID</key>
	<string>50651516076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.Shroom</string>
	<key>PROJECT_ID</key>
	<string>shroom-97afc</string>
	<key>STORAGE_BUCKET</key>
	<string>shroom-97afc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50651516076:ios:5984f1b4f0d64c56bd2309</string>
</dict>
</plist>